/* Task 1 */
/*
#elem {
    border: 1px solid green;
    border-radius: 30px;
    width: 200px;
    height: 200px;
}*/

/* Task 2 */
/*
#elem {
    border-radius: 30px;
    background-color: mediumspringgreen;
    width: 200px;
    height : 200px;
}*/

/* Task 3 */
/*
#elem {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid green;
}*/
