/* Task 1*/
/*
#elem {
	width: 200px;
	height: 200px;
	background-color: rgb(126,137,235);
}*/

/* Task 2*/
/*
#elem {
    width: 300px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: mediumspringgreen;
}*/