/* Task 1 */
/*
#elem {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 50px 70px;
}*/

/* Task 2 */
/*
#elem {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px;
}*/

/* Task 3 */
/*
#elem {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 20px;
}*/