/* Task 1 */
/*
#elem {
    border: 1px solid red;
    width: 300px;
    height: 200px;
}*/

/* Task 2 */
/*
#elem {
    border: 2px dotted blue;
    width: 300px;
    height : 200px;
}*/

/* Task 3 */
/*
#elem {
    border: 3px dashed green;
    width: 300px;
    height : 200px;
}*/

/* Task 4 */
/*
#elem {
    border: 5px double orange;
    width: 300px;
    height : 200px;
}*/